*{margin:0; padding:0; list-style-type:none; text-decoration:none; color:#292929;}
a:hover{
	color:#0075a9;
}
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    /*font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    font: 14px/1 "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
img{border: 0;}
.header{background:#eeeeee;}
.head-hd{width:960px; margin:0 auto; padding:5px 0;}
.head-hd p{font-size:12px;color:#292929;}
.head-hd p a{font-size:12px; text-decoration:none; }
.head-hd p a span{font-size:12px; color:#e30516;}

.head-ct{width:960px; margin:0 auto; padding:20px 0;}
.head-ct-left{float:left;}
.head-ct-right{float:right; margin-top:15px;}
.head-ct-right ul li a{padding:0 5px; color:#292929;}
.head-ct-right input{background:#eeeeee; border:1px solid #d4d4d4; width:320px; height:30px; margin-top:5px;}
.head-ct-right button{background:#eeeeee; width:68px; height:32px; border:1px solid #d4d4d4; margin-left:-4px;}
.searchBox{height: 32px;padding-top: 5px;}

.footer{background:#cde8f4; margin-top:10px;}
.footer-hd{ width:960px; margin:0 auto;}

.footer-ft{background-image:url(../images/4.png);height:270px;}
.footer-ft-top{width:960px;  margin:0 auto;}
.footer-ft-top-left{width:480px; float:left;  padding:10px 0;}
.footer-ft-top-left h4,p{color:#ffffff;}
.footer-ft-top-left ul li{background:#0075a9; width:200px;  text-align:center;}
.footer-ft-top-left ul li a{padding:0 5px; font-size:10px; color:#c8c8c8;}
.footer-ft-top-right{float:right; text-align:center; }

.centent-one{width:960px; margin:10px auto; border:1px solid #b4b4b4;}
.centent-one ul{padding:12px 0;}

.cen{margin-top:40px;}
.cen-one{width:960px; margin:0 auto;}
.cen-one-left{float:left; width:660px;}
.left-one{border:1px solid #b4b4b4; padding:15px 0;}
.left-one h1{color:#0075a9; font-size:36px; text-align:center;}
.left-one p{color:#292929; text-align:center; margin-top:5px;}
.left-two{width:660px; margin-top:44px;}
.left-two-left{width:310px; float:left;}
.laba{padding:28px; background:url(../images/11.png) no-repeat left center;  color:#e60012; text-decoration:none;}
.left-two-left ul li{padding:10px 0;}
.left-two-right{float:right; width:310px;}
.left-two-right ul li{padding:10px 0;}


.left-three{margin-top:20px;}
.left-three-left{width:310px; float:left;}
.left-three-left ul{margin-top:30px;}
.labathree{padding:0 5px 0 25px; text-decoration:none;position: relative;}
.color>a.labathree{color: #e60012;}


.left-three-right{float:right; width:310px; margin-top:58px;}

.cen-one-right{float:right; width:280px;}

.qwe ul li{padding:10px 20px;}
.qwe ul li a,
.qwe ul li span
{color:#ffffff; width:190px;}



/* ==========================================================================
    Yumlee
   ========================================================================== */
.clearfix:after { content: "."; display: block; height:   0; clear: both; visibility: hidden }
i{font-size: 150%;color: #0075A9;}
.nav li>a {display: block;}
.nav>ul>li{float: left;width: 11%;text-align: center;padding: 13px 0;}
.active{background:#0075a9;}
.active a{color: #fff;}
.nav li:hover{background: #0075a9;}
.nav li:hover>a{color: #fff;}
.f12{font-size: 12px;}
.color>a{color: #0075a9;}
.color>b{color: #0075a9;}


/*swiper*/
.slideBox{overflow:hidden; position:relative;height: 270px;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; left:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:270px; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:450px; height:230px; display:block;  }
.swiperNews{position: relative;}
.swiperNews .hd{height:15px; overflow:hidden; position:absolute; left:5px; bottom:5px; z-index:1;}
.swiperNews .hd ul{ overflow:hidden; zoom:1; float:left;  }
.swiperNews .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.swiperNews .hd ul li.on{ background:#f00; color:#fff; }
.picScroll-left{overflow:hidden; position:relative;}
.picScroll-left .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
.picScroll-left .hd .prev,.picScroll-left .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden; cursor:pointer; background:url("../images/arrow.png") no-repeat;}
.picScroll-left .hd .next{ background-position:0 -50px;  }
.picScroll-left .hd .prevStop{ background-position:-60px 0; }
.picScroll-left .hd .nextStop{ background-position:-60px -50px; }
.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.picScroll-left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("../images/icoCircle.gif") 0 -9px no-repeat; }
.picScroll-left .hd ul li.on{ background-position:0 0; }
.picScroll-left .bd{ padding:10px;   }
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .bd ul li .pic{ text-align:center; }
.picScroll-left .bd ul li .pic img{ width:120px; height:90px; display:block;  padding:2px; border:1px solid #ccc; }
.picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picScroll-left .bd ul li .title{ line-height:24px;   }

/*icon*/
.labathree>i{position: absolute;top: 0px;left: 3px;}



/*news*/
.footer.news{background-color: #f8cfd2;}
.news .active{background-color: #e60012;}

/* All */
.channel{
	width: 120px;
	height: 30px;
	line-height: 33px;
	color: wheat;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}
.channel:hover{
	color: #F5E4C5;
}
.channel-school{
	color: #A6F7DD;
}
.channel-school:hover{
	color: #E7FDF6;
}
.channel-enrol{
	color: #C1FDFF;
}
.channel-enrol:hover{
	color: #DFFEFF;
}
.channel-edu{
	color: #85FFC0;
}
.channel-edu:hover{
	color: #D5FFEA;
}
.channel-news{
	color: #FBCFD2;
}
.channel-news:hover{
	color: #FFF0F1;
}
.channel-policy{
	color: #D8D5FF;
}
.channel-policy:hover{
	color: #F0EFFF;
}