*{margin:0; padding:0; border:0; font-family:Microsoft Yahei; font-size:14px;}
.head{background:#eeeeee;}
.head-top{width:960px; margin: 0 auto;}
.head-top p span{font-weight:bold;}
.head-mian{width:960px; margin:0 auto; padding:20px 0;}
.head-mian-img{float:left;}
.head-mian-p{float:right; text-align:right;}
.head-mian-p p{margin-top:50px;}
.content{background-image:url(../images/4.png);}
.content-background{width:960px; margin:0 auto;}
.content-left{float:left;margin-top: 180px;}
.content-right{float:right;}
.content-right-content{background-color:#e3f2f9; width:320px; height:360px; border:1px solid #bfcdd4; margin:96px 0; }
.content-right-content-top{text-align:center; color:#646464; margin-top:20px;}
.account{border:1px solid #d2d2d2; width:284px; height:46px; margin:20px auto 0;}
.account-head{float:left;}
.account-head input{float:right; background-color:#e2f2f9; color:#646464; outline:medium}
.forget{margin:10px auto;}
button{background:#ffc000; width:284px; height:48px; border-radius:10px; color:#ffffff; font-size:24px; font-family:"华文黑体";}
.login{margin-top:20px;}
.other-login{list-style-type:none;}
.qq-login{padding-left:28px; background:url(../images/qqqqq.png) no-repeat left center;  color:#292929; text-decoration:none;}
.weibo-login{padding-left:28px; background:url(../images/weibo.png) no-repeat left center; color:#292929; text-decoration:none;}
.weixin-login{padding-left:28px; background:url(../images/weixin.png) no-repeat left center; color:#292929; text-decoration:none;}
.footer-hd{ border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; margin-top:20px; }
.footer-hd p{text-align:center; padding:12px;}
.footer-hd p a{margin:12px; color:#646464; text-decoration:none;}
.footer-hd b{color:#646464;}
.footer-bd{margin-top:12px;}
.footer-bd p{text-align:center; color:#646464;}

/*yumlee*/
.account-head>i{background-color: #D2D2D2;color: #fff;padding: 9px;font-size: 28px;line-height: 47px}
.account-head>input{padding: 13px 10px;}